{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":6,"column":0},"action":"insert","lines":["php_flag display_startup_errors on","php_flag display_errors on","php_flag html_errors on","php_flag  log_errors on","php_value error_log  /home/path/public_html/domain/PHP_errors.log","",""]}]}],[{"group":"doc","deltas":[{"start":{"row":6,"column":0},"end":{"row":10,"column":36},"action":"insert","lines":["Options -MultiViews","RewriteEngine On","RewriteCond %{REQUEST_FILENAME} !-d","RewriteCond %{REQUEST_FILENAME} !-f","RewriteRule ^([^\\.]+)$ $1.php [NC,L]"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":36},"end":{"row":10,"column":36},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1425750323765,"hash":"2961fac8a804f2342ef2c3a18b5a8ec15fc1fd2d"}